//-
    /***************************************************************************
     * 
     *   layout.pug: layout for all pages in for online.interlisp.org web portal. 
     *               Meant to be 'extended' by all other pug files.
     * 
     *   2021-11-22 Frank Halasz
     * 
     * 
     *   Copyright: 2021-2022 by Interlisp.org 
     * 
     *
     **************************************************************************/

block variables

- var title = isNCO ? "Notecards Online" : "Interlisp Online";
- var targetSystem = isNCO ? "Notecards" : "Interlisp";

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="icon" sizes="16x16" type="image/png" href="/images/icons/Interlisp-FavIcon-16x16.png")
    link(rel="icon" sizes="24x24" type="image/png" href="/images/icons/Interlisp-FavIcon-24x24.png")
    link(rel="icon" sizes="32x32" type="image/png" href="/images/icons/Interlisp-FavIcon-32x32.png")
    link(rel="icon" sizes="48x48" type="image/png" href="/images/icons/Interlisp-FavIcon-48x48.png")
    link(rel="icon" sizes="60x60" type="image/png" href="/images/icons/Interlisp-FavIcon-60x60.png")
    link(rel="icon" sizes="64x64" type="image/png" href="/images/icons/Interlisp-FavIcon-64x64.png")
    link(rel="icon" sizes="72x72" type="image/png" href="/images/icons/Interlisp-FavIcon-72x72.png")
    link(rel="icon" sizes="76x76" type="image/png" href="/images/icons/Interlisp-FavIcon-76x76.png")
    link(rel="icon" sizes="96x96" type="image/png" href="/images/icons/Interlisp-FavIcon-96x96.png")
    link(rel="icon" sizes="120x120" type="image/png" href="/images/icons/Interlisp-FavIcon-120x120.png")
    link(rel="icon" sizes="144x144" type="image/png" href="/images/icons/Interlisp-FavIcon-144x144.png")
    link(rel="icon" sizes="152x152" type="image/png" href="/images/icons/Interlisp-FavIcon-152x152.png")
    link(rel="icon" sizes="192x192" type="image/png" href="/images/icons/Interlisp-FavIcon-192x192.png")

    link(rel="stylesheet", href="/polyfills/dialog-polyfill.css")
    script(src="/polyfills/dialog-polyfill.js")
    script.
        window.addEventListener('load', (event) => {
            document.querySelectorAll('dialog').forEach(dialogEl => dialogPolyfill.registerDialog(dialogEl));
        });

    script. 
        var targetSystem = "#{targetSystem}";
        var $buoop = {
                required:{e:79,f:79,o:51,s:14,c:64},
                api:2022.02, 
                no_permanent_hide: true,
                reminder: 0,
                reminderClosed: 1,
                noclose: true,
                text: {
                    'msg': targetSystem +' Online requires a "modern" web browser. Your web browser ({brow_name}) is out of date and will not function well (or at all) with Interlisp Online.',
                    'msgmore': 'You will need to update your browser.\nMinimum requirements are: Chrome: 64; Firefox: 79; Safari: 14; Edge: 79.', 
                    'bupdate': 'Update browser', 
                    'bignore': 'Ignore',
                    'remind': 'You will be reminded in {days} days.',
                    'bnever': 'Never show again'  
                }
        }; 
        function $buo_f(){ 
            var e = document.createElement("script"); 
            e.src = "//browser-update.org/update.min.js"; 
            document.body.appendChild(e);
        };
        try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
        catch(e){window.attachEvent("onload", $buo_f)}
        
        var oioMaxHeight = 850;
        function displayRightHeader(event) {
            if(window.innerHeight < oioMaxHeight)
                 document.getElementById("header_img").style.display = "none";
                 document.getElementById("header_text").style.display = "inline-block";
            else
                 document.getElementById("header_img").style.display = "inline-block";
                 document.getElementById("header_text").style.display = "none";
        }
        window.addEventListener('resize', displayRightHeader);
        window.addEventListener('load', displayRightHeader);

    title #{title}
    block headeradds
  body
    div(id="page-container")  
      div(id="content-wrap")
        .container
          div(id="page-header")
            div
              != `<img id="header_img" src="/images/logos/logo_${targetSystem.toLowerCase()}_online.svg" alt="${targetSystem} logo">`
              != `<div id="header_text">${(targetSystem == "Notecards") ? "Notecards" : "Medley"} Online`</div>
              <p id="header_img_caption">IDE for Interlisp <i>and</i> Common Lisp</p>
          block content
      footer(id="footer")
        table
          tr
            td#copyright-div.
              &copy; Copyright 2022 by <a href="http://interlisp.org">Interlisp.Org</a>
            td#sponsor-button-div
              button#sponsor-button(type="button", onclick='window.open("https://github.com/sponsors/Interlisp?o=esb", "_blank");') Sponsor Interlisp.org
