//-
    /***************************************************************************
     * 
     *   login.pug:  login page for online.interlisp.org web portal. 
     * 
     *   2021-11-22 Frank Halasz
     * 
     * 
     *   Copyright: 2021-2022 by Interlisp.org 
     * 
     *
     **************************************************************************/

extends layout

block variables

block headeradds

   script.
   
        const guestUsername = "#{guestUsername}";
        const guestPassword = "#{guestPassword}";
        var localStore;
   
        window.addEventListener('load', (event) => {

            localStore = window.localStorage;
            document.getElementById("username").value = localStore.getItem("username") || "";
            const noShowNotecards = localStore.getItem("notecardsDialog") || "false";
            
            const urlParams = new URLSearchParams(window.location.search);
            const info = urlParams.get('info');
            
            
        
            if(info) {
              const errorMessage = document.getElementById("error-message");
              errorMessage.innerText = info;
              //errorMessage.style.display = "block";
            } else if("#{verificationNotice}" == "true") {
                const dlg = document.getElementById("verification-dialog");
                dlg.showModal();
            } else if((targetSystem == "Notecards") && (noShowNotecards != "true")) {
                const dlg = document.getElementById("notecards-dialog");
                dlg.showModal();
            }

        });

        function verification_close() {
            const dlg = document.getElementById("verification-dialog");
            dlg.close();
        }

        function notecards_close() {
            const dlg = document.getElementById("notecards-dialog");
            if(document.getElementById("nc_do_not_checkbox").checked) {
                localStore.setItem("notecardsDialog", "true");
            }
            dlg.close();
        }

   script.
        function loginOnSubmit() {
            const username = document.getElementById("username").value;
            if(username != guestUsername) {
                localStore.setItem("username", username);
            }
            return true;
        }
        
        function loginAsGuest() {
            document.getElementById("username").value = guestUsername;
            document.getElementById("password").value = guestPassword;
            document.getElementById("login_form").submit();
        }


block content

    div#page-title Login
    
    include combined.pug

    div#error-message &nbsp;

    form(id="login_form" action="/user/login", method="post", onsubmit="return loginOnSubmit()")
        .field.primary-field
            label.primary-label Email:
            input#username.primary-input(type="text" name="username" required)
            br
            br
        .field.primary-field
            label.primary-label Password:
            input#password.primary-input(type="password" name="password" required)
            br
        .field.primary-field
            input.submit-btn.main-button(type="submit" value="LOGIN")
    
    p#new-user.
        New user?  Register <a href=/user/register>here</a> 
        
    .row
        .jumbotron.text-center
            span.in-circle(style="visibility:hidden") ?
            span &nbsp;&nbsp;&nbsp;
            button(type="button" id="guest_button" onclick="loginAsGuest()").main-button Login As Guest
            span &nbsp;&nbsp;&nbsp;
            span.in-circle(onclick='helpOnClick("guest");') ?

    dialog(id="verification-dialog").vdialog
        h2  Notice
        p.
            Registration successful.
        p.    
            You are free to use online.interlisp.org and notecards.online to
            explore the many wonders of Interlisp and Notecards.
        p.
            A verification email has been sent to #{email}.  Please follow the
            directions in this email to verify your account.
        p.
            Any account that has not been verified within 7 days of its creation
            may be deleted without notice.
        br
        .single-button-div
            button(type="button" onclick='verification_close();').main-button OK

    include help_dialogs.pug
    
    
    - var no = "<em>notecards.online</em>"; 
    - var No = "<em>Notecards.online</em>"; 
    - var oio = "<em>online.interlisp.org</em>"
    
    dialog(id="notecards-dialog").vdialog
        h2 Welcome to the NEW Notecards Online
        p.
            If you are new to !{no}, just check "Do not show" and click "OK".
        p.
            For previous users of !{no}:
        p.
            !{No} has been merged into !{oio}.
        p.
            You can still use the !{no} address.  The result will be a
            Notecards-centric version of the !{oio} experience.
        p.
            <b>You will need to reregister to create a combined account for the new !{no} / !{oio}, unless
            you already have an !{oio} account, in which case just use it for the new !{no} as well.</b>
        p.
            Any custom Notefiles that you created on the "old" !{no},
            will need to be moved manually.  Please contact support@notecards.online for help.
        .single-button-div
            button(type="button" onclick='notecards_close();').main-button OK
        .checkbox-div(id="nc_do_not_checkbox_div" class="do_not_checkbox_div")
            input(type="checkbox" id="nc_do_not_checkbox" name="nc_do_not_checkbox")
            label(for="nc_do_not_checkbox") Do not show this notice again
